@media (min-width: 1080px) {

  header {
    background-color: maroon;
    color: beige;
    display:  grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    width: 100%;
    margin: 10px;
    padding: 20px;
  }

  header img {
    grid-area: 1/1/2/2;
    margin-left: 40px;
  }


  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    color: white;
    grid-area: 2/1/3/2;
  }

  .navigation li, a {
    list-style: none;
    color: white;  
    text-decoration: none;
    font-size: large;
    /* font-size: medium; */
  }

  .navigation li:hover,
  .navigation a:hover {
    background-color: beige;
    color: maroon;
    padding: 5px;
  }


  #menu {
    display: none;
  }

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/clinic_interior.webp");

  /* Set a specific height */
  height: 500px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: left;
  /* transform: translate(-50%, -50%); */
  color: beige;
  font-size: 2rem;
}

#book_now_btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: maroon;
    background-color: beige;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

#book_now_btn:hover {
  background-color: maroon;
  color: beige;
}

#our_services {
  background-color: white;
  margin: 40px auto;

}
.dash{
  background-color: maroon;
  width: 40px;
  height: 5px;
  border-radius: 20px;
  margin-left: 150px;
  margin-bottom: -20px;
}

#our_services h2,
#choose_us_sessh h3{
  font-size: 2rem;
  margin: 20px;
}

#View_all_btn {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: beige;
  color: maroon ;
  margin: 20px;
  position: relative;
  left: 85%;
  font-weight: bold;
  display: inline;
}

.service_card {
  background-color: beige;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
  height: 325px;
  text-align: left;
}

.service_card button
 {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: maroon;
  color: beige;
}

#specialty_cards {
  /* display: flex;
  flex-direction: row; */
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}

#second_banner{
 width: 100%;
 height: 600px;
 margin: 0 auto;
 margin-bottom: 50px;
}


#choose_us_sessh{
  /* margin: 20px; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-left: 50px;
  margin-right: 50px;

}
#question {
  grid-area: 1/1/2/2;
  text-align: left;
  padding-left: 50px;

}

#answer {
  grid-area: 1/2/2/3;
  text-align: left;
  padding-right: 50px;

}
#answer p {
  color: rgb(70, 67, 67)
}

#another_banner {
  grid-area: 2/1/3/3;
  margin: 0 auto;

}
 #another_banner img {
  margin-top: -130px;
  width: 800px;
  height: 450px;
  border-radius: 10px;
}
 
.accent_col {
  color: maroon;
}


#team_sesh{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 40px;
}


#team_sesh img {
  grid-area: 1/1/2/2;
  border-radius: 10px;
  height: 250px;
  width: 450px;
  margin-left: 80px;
}

#team_talk {
  grid-area: 1/2/2/3;
  color: rgb(65, 64, 64);
  text-align: left;
  width: 400px;
  /* word-spacing: 5px; */
  line-height: 30px;
}
#team_talk h3 {
  font-size: 2rem;
  color: maroon;
  margin-bottom: -5px;
  
}

#View_team_btn {
  border: none;
  padding: 20px;
  background-color: maroon;
  color: beige;
  border-radius: 10px;
  font-weight: bold;
}




footer {
        padding: 10px;
        background-color: black;
        color: white;
        /* height: 150px; */
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        /* margin: 0 auto; */
    }

#locations {
  grid-area: 1/1/2/2;
  margin: 20px;
}

#locations h4 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: beige;
}


#newsletter {
  margin: 20px;
  grid-area: 1/2/2/3;
 
}

#newsletter input[type="email"]{
  background-color: beige;
  color: grey;
  padding: 10px;
  display: block;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  border: 2px SOLID maroon;
  margin-top: 10px;
  margin-bottom: 20px

}

#newsletter input[type="button"] {
  margin-top: 10px;
  border-radius: 10px;
  background-color: beige;
  color: maroon;
  padding: 10px;
  width: 100px;
  font-weight: bold;
  border: 2px SOLID maroon;

}


#signature {
  position: relative;
  bottom: 5px;
  left: 50%;
  text-align: center;
  display: inline-flex;
  
  /* left: 50%; */
}

footer label {
    font-size: large;

}



/* ------------CONTACT PAGE STYLE------------- */

#in_touch_sesh {
  background-color: beige;
  margin: 0 auto;
  color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1-px;
}

/* #in_touch_dash {
margin-right: 90px;
} */

#themed_text{
  color: maroon;
  font-weight: bold;
}

#in_touch_sesh img {
  border-radius: 10px;
  border: none;
  grid-area: 1/2/2/3;
  margin: 60px;
}


#talk {
  grid-area: 1/1/2/2;
  margin: 120px;
  font-size: 1.5rem;
  /* margin: 40px; */
}

#talk p{
 font-size: 1rem;
}


#contact_us_sesh {
  display: grid;
  grid-row: 1fr 1fr;
  gap: -10px;
  color: black;
  /* background-color: pink; */
}

#not_form {
 grid-area: 1/1/2/2;
 margin: 80px -40px 80px 80px;
  font-size: 1.5rem;


}


#not_form p {
  font-size: 1rem;
  color: rgb(83, 78, 78);
  font-size: 1.2rem;

}




#contact_us_sesh img 
{
 border-radius: 10px;
 border: none;
 width: 600px;
 height: 350px;
 margin: 0 auto;
 max-width: 600px;
}

#contact_us_sesh label {
  display: block;
  margin: 0 auto;
  margin-left: 20px;
  text-align: left;
}

.reg_form {
  /* display: block; */
  background-color: brown;
  border-radius: 10px;
  color: beige;
  width: 500px;
  height: 500px;
  margin-right: 80px;
  margin-left: -40px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 40px;
  grid-area: 1/2/2/3;

}

.reg_form input[type="text"],
.reg_form input[type="email"] {
  border: 1px solid maroon;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  color: grey;
  width: 400px;
  display: block;

}

#raison {
  border: 1px solid maroon;
  border-radius: 10px;
  padding: 10px;
  /* margin: 20px; */
  margin-bottom: 20px;
  color: grey;
  height: 100px;
  width: 400px;

}

.reg_form input[type="submit"] {
  background-color: beige;
  display: block;
  color: maroon;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  font-weight: bolder;
  
}

.reg_form input[type="submit"]:hover {
  background-color: black;
  color: beige;
}


#req {
  color: black;

}
}