@media (min-width: 768px) {

    body{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 20px;
        text-align: center;
    }
    
    header {
        background-color: teal;
        color: wheat;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    
    header h1 {
       margin-left: -200px;
       /* color: black; */

      }
    
    
    #menu {
        display: none;
    }
    
    .navigation {
        margin-right: 20px;
        display: flex;
        flex-direction: row;    
        gap: 4rem;
        list-style: none;
        background-color: teal;
        color: #fff;
        margin: 0;
        /* padding-top: 40px; */
    }
    
    nav button{
        border: none;
        background-color: teal;
        list-style: none;
        color: white;
        text-decoration: none;
        font-size: larger;
    }

    nav button:hover
    { 
        background-color: wheat;
        color: teal;
        /* padding: 5px; */
        border-radius: 10px;
        font-weight: bold;
    }
    
    main {
        margin: 0 auto;
    }
    
    
    #gallery {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
    }
    
    
    footer {
        padding: 10px;
        background-color: teal;
        color: wheat;
        height: 150px;
        text-align: center;
    }
    
   span {
    font-weight: bold;
    color: purple;
   }

   h3 {
    font-weight: bold;
   }

   .templeCard {
    background-color: beige;
    border: 1px solid red;
   }

   /* -------------------------------- */
   #templeCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2rem;
  }

  #templeCards section {
    margin-bottom: 0; /* remove space between cards in grid */
  }
    


}


    /* #templeCards {
        display: block;
        padding: 1rem;
        gap: 1.5rem;
      }
      
      #templeCards section {
        margin-bottom: 1.5rem;
        border: 1px solid hsla(0, 0%, 80%, 0.315);
        padding: 1rem;
        background-color: #f9f9f9;
        border-radius: 8px;
      } */
/* ------------------------------------ */
      /* #templeCards img {
        box-shadow: 20px 20px  violet;

      } */
      
      /* Desktop Grid View */
      @media screen and (min-width: 768px) {
        #templeCards {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
          gap: 2rem;
        }
      
        #templeCards section {
          margin-bottom: 0; /* remove space between cards in grid */
        }
      }
      









/* 
    .gridview {
        width: 100%;
        background-color: rgb(228, 228, 220);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-items: center;
      }

.gridview section{
        margin: 5px;
        padding: 2.5rem 1.5rem;
        border-radius: 10px;
        border: #7c2828 3px solid;
        color: #151a24;
  }


.gridview section img{
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
  }

  .listview{
    display: inline;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
  
  
  }
  
  
  .listview section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
    color: #14213D;
    margin: 0 .7rem;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
  }
  
  .listview section:nth-last-of-type(even) {
    background-color: beige;
  }
  
  .listview section p {
    padding: 3px;
    font-size: medium;
  }
  
  .listview section img{
    width: 100px;
    height: 100px;
  }
   */