@media (min-width: 768px) {

    body{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 20px;
        text-align: center;
    }
    
    header {
        background-color: teal;
        color: wheat;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    
    header h1 {
       margin-left: -200px;
       /* color: black; */

      }
    
    
    #menu {
        display: none;
    }
    
    .navigation {
        padding-top: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;    
        gap: 4rem;
        list-style: none;
        background-color: teal;
        color: #fff;
        margin: 0;
        /* padding-top: 40px; */
    }
    
    nav a{
        border: none;
        background-color: teal;
        list-style: none;
        color: beige;
        text-decoration: none;
        font-size: larger;
        padding: 10px;
    }

    nav a:hover
    { 
        background-color: wheat;
        color: teal;
        border-radius: 10px;
        font-weight: bold;
    }
    
    main {
        margin: 0 auto;
    }
    
    
    #gallery {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
    }
    
    
    footer {
        padding: 10px;
        background-color: teal;
        color: wheat;
        height: 150px;
        text-align: center;
    }
    
   span {
    font-weight: bold;
    color: beige;
   }

   h3 {
    font-weight: bold;
   }

   .templeCard {
    background-color: beige;
    border: 1px solid red;
   }

   /* -------------------------------- */
   #templeCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2rem;
  }

  #templeCards section {
    margin-bottom: 0; /* remove space between cards in grid */
  }
    


}


      
      /* Desktop Grid View */
      @media screen and (min-width: 768px) {
        #templeCards {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
          gap: 2rem;
        }
      
        #templeCards section {
          margin-bottom: 0; /* remove space between cards in grid */
        }
      }
      



